QPushButton{
    border-image: url(:/images/Images/MainWindowGrid1_Dark.png);
}
QPushButton:hover{
    border-image: url(:/images/Images/MainWindowGrid2_Dark.png);
}
QPushButton:checked{
    border-image: url(:/images/Images/MainWindowGrid2_Dark.png);
}