QPushButton{
		color:rgb(255, 255, 255);
        background-color:rgba(70,70,70,0);
}
QPushButton:hover{
		color:rgb(255, 255, 255);
        background-color:rgba(70,70,70,100);
}
QPushButton:clicked{
		color:rgb(255, 255, 255);
        background-color:rgba(70,70,70,100);
}