QPushButton{
    border-image: url(:/images/Images/MainWindowGrid1_Bright.png);
}
QPushButton:hover{
    border-image: url(:/images/Images/MainWindowGrid2_Bright.png);
}
QPushButton:checked{
    border-image: url(:/images/Images/MainWindowGrid2_Bright.png);
}
