QTableView {
    alternate-background-color: rgb(240,240,240);
    selection-background-color: rgb(79, 147, 184); 
}
/*
QHeaderView::section {
    background-color: rgb(247, 247, 247);
    border: 0px;
}
QHeaderView::section:hover {
    background-color: rgb(79, 147, 184);
    border: 0px;
}
QHeaderView::section:checked {
    background-color: rgb(247, 247, 247);
    border: 0px;
}*/