QsciScintilla{
	border: 0px;
}

QsciScintilla::ScrollBar:vertical {
	background:rgb(218,218,218);
	width:10px;
	margin:0px;
	padding-top:9px;   
    padding-bottom:9px;
}

QsciScintilla::ScrollBar::handle:vertical {
	background:rgb(218,218,218);
	border-radius:2px; 
	min-height:20px;
}
 
QsciScintilla::ScrollBar::add-line:vertical {
	background:rgb(218,218,218);
	height:10px;
	width:10px;
	subcontrol-position:bottom;
}

QsciScintilla::ScrollBar::sub-line:vertical {
	background:rgb(218,218,218);
	height:10px;
	width:10px;
	subcontrol-position:top;
}
 
QsciScintilla::ScrollBar::add-page:vertical,QScrollBar::sub-page:vertical   
{
    background:rgb(247,247,247);
    border-radius:2px;
}



QsciScintilla::ScrollBar:horizontal {
	background:rgb(218,218,218);
	width:10px;
	margin:0px;
	padding-top:9px;   
    padding-bottom:9px;
}

QsciScintilla::ScrollBar::handle:horizontal {
	background:rgb(218,218,218);
	border-radius:2px; 
	min-height:20px;
}
 
QsciScintilla::ScrollBar::add-line:horizontal {
	background:rgb(218,218,218);
	height:10px;
	width:10px;
	subcontrol-position:bottom;
}

QsciScintilla::ScrollBar::sub-line:horizontal {
	background:rgb(218,218,218);
	height:10px;
	width:10px;
	subcontrol-position:top;
}
 
QsciScintilla::ScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal   
{
    background:rgb(247,247,247);
    border-radius:2px;
}