QPushButton{
	background-color: rgb(44, 44, 45);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}
QPushButton:hover{
	background-color: rgb(44, 44, 45);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}
QPushButton:pressed{
	background-color: rgb(44, 44, 45);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}