QPushButton{
	background-color: rgb(164, 163, 164);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}
QPushButton:hover{
	background-color: rgb(164, 163, 164);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}
QPushButton:pressed{
	background-color: rgb(164, 163, 164);
    border-image: url(:/images/Share/images/CELL_MainIcon.png);
}