QPushButton{
    border-image: url(:/images/Share/images/maximize.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/maximize1.png);
}
QPushButton:pressed{
    border-image: url(:/images/Share/images/maximize1.png);
}