QPushButton{
    border-image: url(:/images/Share/images/MainWindowGrid1_Bright.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowGrid2_Bright.png);
}
QPushButton:checked{
    border-image: url(:/images/Share/images/MainWindowGrid2_Bright.png);
}
