QPushButton{
	background:transparent;
    border-image: url(:/images/Share/images/close1.png);
}
QPushButton:hover{
	background:transparent;
    border-image: url(:/images/Share/images/close.png);
}
QPushButton:pressed{
	background:transparent;
    border-image: url(:/images/Share/images/close-1.png);
}