QPushButton{
	background:transparent;
    border-image: url(:/images/Share/images/mini1.png);
}
QPushButton:hover{
	background:transparent;
    border-image: url(:/images/Share/images/mini.png);
}
QPushButton:pressed{
	background:transparent;
    border-image: url(:/images/Share/images/mini-1.png);
}