QPushButton{
    border-image: url(:/images/Share/images/mini1.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/mini.png);
}
QPushButton:pressed{
    border-image: url(:/images/Share/images/mini-1.png);
}