QPushButton{
    border-image: url(:/images/Share/images/MainWindowSettings1_Bright.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowSettings2_Bright.png);
}
QPushButton:checked{
    border-image: url(:/images/Share/images/MainWindowSettings2_Bright.png);
}