QPushButton{
    border-image: url(:/images/Share/images/MainWindowNewPJ1.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowNewPJ2.png);
}
QPushButton:clicked{
    border-image: url(:/images/Share/images/MainWindowNewPJ2.png);
}