QPushButton{
    border-image: url(:/images/Share/images/MainWindowHomePage1.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowHomePage2.png);
}
QPushButton:checked{
    border-image: url(:/images/Share/images/MainWindowHomePage2.png);
}