QPushButton{
    border-image: url(:/images/Share/images/MainWindowList1.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowList2.png);
}
QPushButton:checked{
    border-image: url(:/images/Share/images/MainWindowList2.png);
}
