QPushButton{
    border-image: url(:/images/Share/images/MainWindowGrid1_Dark.png);
}
QPushButton:hover{
    border-image: url(:/images/Share/images/MainWindowGrid2_Dark.png);
}
QPushButton:checked{
    border-image: url(:/images/Share/images/MainWindowGrid2_Dark.png);
}