QPushButton{
	background-color: rgb(255, 255, 255);
    border-image: url(:/images/Share/images/mini1.png);
}
QPushButton:hover{
	background-color: rgb(255, 255, 255);
    border-image: url(:/images/Share/images/mini.png);
}
QPushButton:pressed{
	background-color: rgb(255, 255, 255);
    border-image: url(:/images/Share/images/mini-1.png);
}