QScrollBar:vertical {
	background:#dadada;
	width:10px;
	margin:0px, 0px, 0px, 0px;
	padding-top:9px;   
    padding-bottom:9px;
}
 
/* 滑块 */
QScrollBar::handle:vertical {
	background:#dadada;
	border-radius:2px; 
	min-height:20px;
}
 
/* 底部箭头 */
QScrollBar::add-line:vertical {
	background:#dadada;
	height:10px;
	width:10px;
	subcontrol-position:bottom;
}
 
/* 顶部箭头 */
QScrollBar::sub-line:vertical {
	background:#dadada;
	height:10px;
	width:10px;
	subcontrol-position:top;
}
 
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical   
{
    background:#F7F7F7
    border-radius:2px;
}